.ErroPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f9f9f9;
    color: #333;
}

.ErroPage h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.ErroPage p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.btn-home {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-home:hover {
    background-color: #e64a19;
}


@media (max-width: 600px){
    .ErroPage h1 {
        font-size: 2rem;
    }
    .ErroPage p {
        font-size: 1rem;

    }
}